<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Fundamentals</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>{{ message }}</h1>
      <h1>{{ getMessage() }}</h1>
      <span v-html="getVueHtml()"></span>
      <p>Your lucky number is: {{ luckyNumber }}</p>
      <p v-once>Your lucky number will render only once: {{ luckyNumber }}</p>
      <p>Your lucky numbers are: {{ luckyNumbers.join(', ') }}</p>
      <p>
        Your lucky number is an {{luckyNumber% 2==0?"even number":"odd number"}}
      </p>
      <p>Random Number from 1-10: {{ getRandomLuckyNumber(1, 10) }}</p>
      <p>Updated Lucky Number: {{ updateLuckyNumber() }}</p>
      <p>
        {{ employee.name }} is a {{ employee.position }} and is {{ employee.age
        }} years old.
      </p>
      <p>Updating Employee in 5 seconds... {{updateEmployee()}}</p>
      <p>
        {{ employeeRef.name }} is a {{ employeeRef.position }} and is {{
        employeeRef.age }} years old.
      </p>
      <a v-bind:href="vueIntroductionUrl">Visit Vue Introduction</a>
      <p v-show="employee.hasCorporateCard">
        Spending V-Show Limit: ${{ employee.spendingLimit }}
      </p>

      <p v-if="employee.hasCorporateCard">
        {{employee.name}}'s Spending V-IF Limit: ${{ employee.spendingLimit }}
      </p>
      <p v-else-if="employee.yearsWithCompany >= 5">
        {{ employee.name }} has been with the company for 5+ years and is now
        eligible for a corporate card.
      </p>
      <p v-else>{{ employee.name }} does not have a corporate card.</p>
      <p v-for="(name, index) in names">Name {{ index + 1 }}: {{name}}</p>

      <hr />
      <p>Projects Pipeline Array Object:</p>
      <ul>
        <li v-for="(project, index) in projects" :key="index">
          <span>{{index + 1}} - {{ project.name }} : {{ project.status }}</span>
        </li>
      </ul>
      <hr />
      <p>Projects Pipeline : Values and Key:</p>
      <ul>
        <li v-for="(value, key) in projects">
          <span>{{value}} : {{ key}}</span>
        </li>
      </ul>

      <hr />
      <p>Numbers V-Once:</p>
      <ul>
        <li v-for="(number, index) in numbers" :key="index">
          <span v-once
            >Index : {{index + 1}} - Current Number {{ number }}</span
          >
        </li>
      </ul>

      <hr />
      <p>Key in V-For:</p>
      <ul>
        <li v-for="(number, index) in numbers" :key="number">
          <span>Index : {{index + 1}} - Current Number {{ number }}</span>
          <input type="number" />
        </li>
      </ul>

      {{ shuffleNumbers() }}

      <hr />
      <p>Static Binding Style in Vue:</p>

      <div id="binding-style">
        <div v-bind:style="{backgroundColor: 'aqua', fontSize: '40px'}">
          Binding Style
        </div>
        <br />
        <div v-bind:style="{'background-color': 'aqua', 'font-size': '40px'}">
          Binding Style
        </div>
      </div>

      <hr />
      <p>Dynamic Binding Style in Vue:</p>
      <div
        v-bind:style="{'background-color': 'aqua', 'font-size': fontSizeTemp + 'px'}"
      >
        Binding Style
      </div>

      <hr />
      <p>Class Binding in Vue:</p>
      <br />
      <span class="padding-medium" v-bind:class=" { h1:true, 'bg-grey':true } "
        >Sample style class Binding
      </span>
    </div>
  </body>
  <script>
    const { createApp, ref, reactive } = Vue;

    createApp({
      setup() {
        const message = "Hello Vue 3!";
        const messageVueHtml = "Hello VUE HTML!";
        const vueIntroductionUrl = "https://vuejs.org/guide/introduction.html";
        let luckyNumber = ref(6);
        const luckyNumbers = [3, 7, 13, 21];
        const names = ["Alice", "Bob", "Charlie", "David"];
        const employee = {
          name: "John Doe",
          age: 30,
          position: "Software Engineer",
          hasCorporateCard: false,
          spendingLimit: 1000,
          yearsWithCompany: 5,
        };

        const projects = reactive([
          { name: "Project A", status: "In Progress" },
          { name: "Project B", status: "Completed" },
          { name: "Project C", status: "Not Started" },
        ]);

        const employeeRef = reactive({
          name: "Karding Sungkit",
          age: 27,
          position: "Software Engineer",
        });

        function updateEmployee() {
          setTimeout(() => {
            employeeRef.name = "Jane Smith";
            employeeRef.age = 30;
            employeeRef.position = "QA Engineer";
          }, 5000);
        }

        function getMessage() {
          return message.toUpperCase();
        }

        function getRandomLuckyNumber(min, max) {
          return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        function updateLuckyNumber() {
          setTimeout(() => {
            luckyNumber.value = Math.floor(Math.random() * (100 - 1 + 1));
          }, 2000);
          console.log("Random Lucky Number: " + luckyNumber.value);
        }

        function getVueHtml() {
          return `<h1><u>${messageVueHtml}</u></h1>`;
        }

        const numbers = [1, 2, 3, 4, 5];

        function shuffleNumbers() {
          setTimeout(() => {
            numbers.sort(() => Math.random() - 0.5);
          }, 5000);
        }

        const fontSizeTemp = 60;
        return {
          message: message,
          luckyNumber: luckyNumber,
          luckyNumbers: luckyNumbers,
          employee: employee,
          getRandomLuckyNumber: getRandomLuckyNumber,
          getMessage: getMessage,
          updateLuckyNumber: updateLuckyNumber,
          employeeRef: employeeRef,
          updateEmployee: updateEmployee,
          getVueHtml: getVueHtml,
          vueIntroductionUrl: vueIntroductionUrl,
          names: names,
          projects: projects,
          numbers: numbers,
          shuffleNumbers: shuffleNumbers,
          fontSizeTemp: fontSizeTemp,
        };
      },
    }).mount("#app");
  </script>

  <style>
    .h1 {
      font-size: 60px;
      color: green;
    }
    .h2 {
      font-size: 50px;
      color: blue;
    }
    .bg-grey {
      background-color: grey;
    }
    .bg-green {
      background-color: lightgreen;
    }
    .padding-medium {
      padding: 20px;
    }
  </style>
</html>
